/* Root section */
:root{
    --carousel-height: 300px !important;
    --invisible-item: rgba(0,0,0,0) !important;
    --arrow-button-base-color: rgba(150, 150, 150, 0.4) !important;
    --arrow-button-active-color:rgba(150, 150, 150, 1) !important;
}
/* Id section*/

/* Class section */

/* Carousel container properties */
.carousel-container{
    justify-content:center !important;
    align-items:center !important;
    width: calc(100% - 3px);
    height:var(--carousel-height);
    border: solid 1px !important;
    border-color:rgba(200, 200, 200, 0.8) !important;
    border-radius: 5px !important;
    position: relative;
    overflow: hidden;
}

.container{
    height: 350px !important;
}

/* .resizable-container{
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
    height: var(--carousel-height);
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
    .resizable-container::-webkit-scrollbar {
        display: none;
    } */

.scrollable-container{
    height: var(--carousel-height);
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

    .scrollable-container::-webkit-scrollbar {
        display: none;
    } 

.cards-container{
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
    height: var(--carousel-height);
    overflow: hidden;
    width:fit-content;

}

/* Arrow button properties */
.arrow-button{
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 50px !important;
    transition: background-color 0.5s ease, color 0.5s ease;
    z-index: 100;
    position: absolute;
    text-align: center;
    line-height: var(--carousel-height);
    color: var(--invisible-item);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Arrow button hover transition */
    .arrow-button:hover{
        background-color: rgba(150, 150, 150, 0.4) !important;
        color: rgba(255,255,255,1) !important;
    }

    /* Arrow button active transition */
    .arrow-button:active{
        background-color: rgba(150, 150, 150, 1) !important;
        /* color: rgba(255,255,255,1) !important; */
    }

.hide{
    display: none;
}
/* Backward arrow button properties */
.left-arrow-button{
    left: 0px;
}

/* Forward arrow button properties */
.right-arrow-button{
    right: 0px;
}

.carousel-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px !important;
    height: 95%;
    z-index: 98;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

    .carousel-card:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-title{
    padding-left: 15px;
    margin-top: 40px;
    width: inherit;
}
.card-title .default-card-row-1{
    min-height: 10px;
    width: 70%;
    background-color: darkgrey;
}

.card-title .default-card-row-2{
    min-height: 10px;
    width: 50%;
    background-color: darkgrey;
    margin-top:10px;

}

.img-container{
    width: 100% !important;
    height: 150px;
    border-radius: inherit;
}

.card-img{
    width: 100% !important;
    height: 120%;
    position: sticky;
    z-index: 99;
    border-radius: inherit;
}

/* Attributes section */